body { 
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1612px;
    margin: 0 auto;
    margin-bottom: 10%;
}

header img {
    max-width: 157px;
}

a { 
    text-decoration: none;
    color:#404242;
    font-weight: 400;
}

.complex-list li { 
    font-size: 25px;
    display: block;
    display: inline;
    gap: 87px;


}

ul { 
    list-style-type: none;
}

.header-container {
    display: flex;
    align-items: center;
    margin: 3% auto 0;
    
}

.btn {
    font-size: 25px;
    font-weight: 500;
    color: white;
    background: #58A9A5;
    border-radius: 15px;
    padding: 21px 89px;
    transition: all 0.5s ease;
    margin-left: 230px;
}

.btn:hover {
    color: #58A9A5;
    background: white;
    border: #58A9A5 2px solid;
}

.logo {
    margin-right: 316px;
}

ul li a {
    margin-right: 55px;
    transition: all 0.5s ease;

}

ul li a:hover {
    color:#58A9A5;
    font-weight: 700;
}

.container-main-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1612px;
    margin: 0 auto;
    margin-bottom: 10%;
    align-items: center;
    
}

.btn-main {
    font-size: 25px;
    font-weight: 700;
    color: white;
    background: #58A9A5;
    border-radius: 20px 20px 20px 0px;
    padding: 21px 89px;
    transition: all 0.5s ease;
    display: block;
    width: 13%;
}

.btn-main:hover {
    color: #58A9A5;
    background: white;
    border: #58A9A5 2px solid;
}

.text-main {
    max-width: 735px;
}

h1 {
    font-size: 70px;
    font-weight: 800;
    line-height: 1.4em;
    margin-bottom: 50px;
    color: rgba(28, 35, 35, 1)
}

p {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
    color: rgba(64, 66, 66, 1)
}

.img-main {
    max-width: 833px;
}

.img-section2 {
    max-width: 1053px;
}

.text-sectinon-two p {
    text-align: center;
}

.text-sectinon-two h1 {
    margin-bottom: 20px;
    text-align: center;
}

.text-in {
    max-width: 549px;
    max-height: 347px;
    background-color: #CCF0E6;
    border-radius: 0px 10px 10px 0px;
    /* text-align: center; */
}

.section-two {
    display: flex;
}

.small-text {
    color: #486958;
    font-weight: 500;
    font-size: 20px;    
    padding: 70px 106px 41px 115px;
    margin: 0;
}    

.big-text {
    padding-left: 115px;
    color: #486958;
    font-weight: 700;
    font-size: 20px;    
}

.section-three {
    display: flex;
}

.text-section-three h2 {
    font-weight: 700;
    font-size: 40px;
    color: #1C2323;
    margin-bottom: 50px;
    max-width: 487px;
}

.text-section-three {
    margin-left: 145px;
}
.text-section-three p {
    font-weight: 500;
    font-size: 30px;    
    color: #486958;
    max-width: 708px;

}

.button-start {
    position: absolute;
    padding: 182px 485px 40px 990px;
}