body { 
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1612px;
    margin: 0 auto;
    margin-bottom: 10%;
}

header img {
    max-width: 157px;
}

a { 
    text-decoration: none;
    color:#404242;
    font-weight: 400;
}

.complex-list li { 
    font-size: 25px;
    display: block;
    display: inline;
    gap: 87px;


}

ul { 
    list-style-type: none;
}

.header-container {
    display: flex;
    align-items: center;
    margin: 3% auto 0;
    
}

.btn {
    font-size: 25px;
    font-weight: 500;
    color: white;
    background: #58A9A5;
    border-radius: 15px;
    padding: 21px 89px;
    transition: all 0.5s ease;
    margin-left: 230px;
}

.btn:hover {
    color: #58A9A5;
    background: white;
    border: #58A9A5 2px solid;
}

.logo {
    margin-right: 316px;
}

ul li a {
    margin-right: 55px;
    transition: all 0.5s ease;

}

ul li a:hover {
    color:#58A9A5;
    font-weight: 700;
}

.container-main-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1612px;
    margin: 0 auto;
    margin-bottom: 10%;
    align-items: center;
    
}

.btn-main {
    font-size: 25px;
    font-weight: 700;
    color: white;
    background: #58A9A5;
    border-radius: 20px 20px 20px 0px;
    padding: 21px 89px;
    transition: all 0.5s ease;
    display: block;
    width: 13%;
}

.btn-main:hover {
    color: #58A9A5;
    background: white;
    border: #58A9A5 2px solid;
}

.text-main {
    max-width: 735px;
}

h1 {
    font-size: 70px;
    font-weight: 800;
    line-height: 1.4em;
    margin-bottom: 50px;
    color: rgba(28, 35, 35, 1)
}

p {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
    color: rgba(64, 66, 66, 1)
}

.img-main {
    max-width: 833px;
}

.img-section2 {
    max-width: 1053px;
}

.text-sectinon-two p {
    text-align: center;
}

.text-sectinon-two h1 {
    margin-bottom: 20px;
    text-align: center;
}

.text-in {
    max-width: 549px;
    max-height: 347px;
    background-color: #CCF0E6;
    border-radius: 0px 10px 10px 0px;
    /* text-align: center; */
}

.section-two {
    display: flex;
}

.small-text {
    color: #486958;
    font-weight: 500;
    font-size: 20px;    
    padding: 70px 106px 41px 115px;
    margin: 0;
}    

.big-text {
    padding-left: 115px;
    color: #486958;
    font-weight: 700;
    font-size: 20px;    
}

.section-three {
    display: flex;
}

.text-section-three h2 {
    font-weight: 700;
    font-size: 40px;
    color: #1C2323;
    margin-bottom: 50px;
    max-width: 487px;
}

.text-section-three {
    margin-left: 145px;
}
.text-section-three p {
    font-weight: 500;
    font-size: 30px;    
    color: #486958;
    max-width: 708px;

}

.button-start {
    position: absolute;
    padding: 182px 485px 40px 990px;
}

.text-section-four {
    text-align: center;
}

hr {
    width: 135px;
    height: 5px;
    background-color: #58A9A5;
    margin: 15px auto;
}

.green-text h2 {
    font-weight: 700;
    font-size: 40px;
    color: #58A9A5;
}

.green-text p {
    font-weight: 500;
    font-size: 20px;   
    color: #486958;
    margin-top: 5px; 
    max-width: 453px;
}

.projects {
    margin-top: 94px;
    display: flex;
    gap: 125px;
}

.img-workspace {
    margin-bottom: 35px;
}

.text-section-five {
    text-align: center;
}

.brands {
    margin: 0 auto;
    display: block;
}

.text-info {
    display: flex;
    gap: 117px;
    background: #CCF0E6;
    padding: 50px 135px 420px 135px;
    position: relative;
}

.green-text-info h1 {
    font-weight: 800;
    font-size: 70px;
    color: #58A9A5;
    margin-bottom: 0;
}

.green-text-info p {
    font-weight: 600;
    font-size: 30px;
    color: #58A9A5;
    
}

.info {
    display: flex;
    margin-top: 60px;
}

.img-info {
    position: absolute;
    margin: 245px 781px 134px -50px;
}

.quote {
    position: absolute;
    margin: 300px 95px 120px -20px;
    font-weight: 500;
    font-size: 25px;
    color: #486958;

}

#quote {
    font-weight: 500;
    font-size: 25px;
    color: #486958;
}

#signature {
    position: absolute;
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
    color: #58A9A5;
    margin: 500px 95px 80px -20px;

}

.text-section-six hr {
    width: 135px;
    height: 5px;
    background-color: #58A9A5;
    margin: 15px 0;
}

.section-six {
    display: flex;
    justify-content: space-between;
}

.contacts {
    width: 1110px;
    border: 1px solid #486958;
}

.contacts input {
    font-weight: 500;
    font-size: 25px;
    color: #486958;
    margin-left: 54px;
    margin-top: 57px;
    margin-bottom: 0;
}

.contacts hr {
    width: 1000px;
    height: 0px;
    margin-top: 25px;
}

.text-section-six p {
    font-weight: 500;
    font-size: 25px;
    color: #486958;
    margin-top: 10px;
}

.contacts .btn-main {
    margin: 20px 54px 35px 730px;
}

input {
    border: none;
}

input:focus{
    border: none;
    outline:none;
    box-shadow: none;
  }